# macOS junk
.DS_Store

# Virtual environment
.venv/

.vscode

# Python  cache
__pycache__/
*.pyc

# Datasets
data/raw/
data/processed/

# Artifacts
artifacts/classifier/model.pt
artifacts/autoencoder/model.pt
artifacts/shared/scaler.joblib

.env